<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Pokemon Word Searches" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="http://pokemonwordsearch.xyz">Pokemon Word Searches</a>
    <a class="extra" href="http://tranhtomau.net/">Coloring Pages</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Ha Hoang
        <br />
        Cofounder of
          <a href="http://tranhtomau.net/">Coloring Pages</a> <br>
          <a href="http://jpparks.com/">JP PARK GROUP - Thiết kế, thi công vườn Nhật Bản số 1 tại Việt Nam</a>
        <br />
        ha.hoangthi@gmail.com
      </p>
    </div>
  </div>
</div>

<a href="http://pokemonwordsearch.xyz/"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="Fork me on GitHub" /></a>
<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118278516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118278516-1');
</script>

<!-- Google Analytics end -->

</body>
</html>
